flask_sqlalchemy==3.1.1
SQLAlchemy==2.0.25
pandas~=2.2.1
flask~=3.0.2
Flask_WTF==1.2.1
Flask_WTF==1.2.1
WTForms~=3.1.2
email-validator==2.1.1
flask_babel
requests~=2.28.1
bs4~=0.0.1
beautifulsoup4~=4.11.1
werkzeug~=3.0.1