<nav class="navbar navbar-top navbar-expand navbar-dark bg-white">
  {% if request.url.split('/')[3] != '' %}
    {% set border = 'border-bottom pb-3' %}
  {% endif %}
    <div class="container-fluid {{ border }}">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if request.url.split('/')[3].split('?')[0] == 'search' %}
          <div class="form-inline mr-sm-3 w-75">
          <a href="/"><img src="{{ url_for('static', filename='img/brand/company_logo.svg') }}" class="mr-4" alt="company logo" width="65"></a>
            <form id="filter_form" method="GET" action="/search" class="w-75">
                <input class="form-control w-75 badge-pill text-md font-weight-bold"
                       id="search" autofocus type="search" placeholder="Type Product Name or Barcode" autocomplete="off"
                       value="{{ request.args.get('product_name') if request.args.get('product_name') else request.args.get('query')  }}"
                name="query">
            </form>
          </div>
        {% elif request.url.split('/')[3] == 'user' %}
        <a href="/"><img src="{{ url_for('static', filename='img/brand/company_logo.svg') }}" class="mr-4" alt="company logo" width="65"></a>
        {% endif %}

      <!-- Navbar links -->
      <ul class="navbar-nav align-items-center  ml-md-auto ">
      </ul>
      <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
        <li class="nav-item dropdown">
          <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="media align-items-center">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="Image placeholder" src="{{ url_for('static', filename='admin/assets/img/theme/user.png') }}">
              </span>
              <div class="media-body ml-2 d-none d-lg-block">
                <span class="mb-0 text-sm text-dark  font-weight-bold text-capitalize">
                 {{ current_user.name }} {{ current_user.last_name }}
                </span>
              </div>
            </div>
          </a>
          <div class="dropdown-menu  dropdown-menu-right ">
            {% if current_user.role == 'admin' %}
              <a href="{{ url_for('admin.index') }}" class="dropdown-item">
                <i class="ni ni-settings-gear-65"></i>
                <span>{{ _('Admin Panel') }}</span>
              </a>
            {% endif %}

            <a href="{{ url_for('user_profile') }}" class="dropdown-item">
              <i class="ni ni-single-02"></i>
              <span>{{ _('My profile') }}</span>
            </a>
            <div class="dropdown-divider"></div>
            <a href="{{ url_for('logout') }}" class="dropdown-item">
              <i class="ni ni-user-run text-red"></i>
              <span>Logout</span>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>