.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.form{
    width: 45%;
}

.suggest-list{
    z-index: 100;
    width: 47%;
    display: none;

}



.table{
   tr:nth-child(even) {
   background-color: rgba(251, 251, 251, 0.7);
}
}

.table td{
    cursor: pointer;
}

.cursor-pointer{
  cursor: pointer;
}

.ul-product{
    li:nth-child(even){
            background-color: rgba(251, 251, 251, 0.9);
      }
}

.li-product{
    font-size: 1.2rem;
    font-weight: 400;

}

.li-product-suggest:hover{
    background-color: rgba(240, 240, 240, 0.9);
}

#table-prices td{
    font-size: 16px;
    font-weight: 600;

}



@media only screen and (max-width: 1280px) {
  .form{
    width: 90%;
   }
   .suggest-list{
    width: 95%;
}
}