{% extends 'admin/layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Header -->
    <div class="header bg-primary pb-6 pt-4">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <div class="row">
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h5 class="card-title text-uppercase text-muted mb-0">{{ _('Products') }}</h5>
                      <a href="{{ url_for('admin.update_now') }}" class="btn btn-danger mt-2 text-white">{{ _('Update Now') }}</a>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                        <i class="ni ni-box-2"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-6">
              <div class="card card-stats">
                <!-- Card body -->
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                       <h5 class="card-title text-uppercase text-muted mb-0">{{ _('Users') }}</h5>
                      <a href="{{ url_for('admin.user.users') }}#user_register" class="btn btn-danger mt-2">{{ _('Add New User') }}</a>
                    </div>
                    <div class="col-auto">
                      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                        <i class="ni ni-single-02"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
      <div class="row">
        <div class="col-xl-8">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">{{_('Last Products')}}</h3>
                </div>
                <div class="col text-right">
                  <a href="{{url_for('admin.products')}}#products_table" class="btn btn-sm btn-primary">{{_('See all')}}</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Products table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">{{_('Barcode')}}</th>
                    <th scope="col">{{_('Name')}}</th>
                  </tr>
                </thead>
                <tbody>
                    {% for product in last_products %}

                  <tr>
                      <th scope="row">
                        {{ product.barcode }}
                      </th>
                      <td>
                        {{ product.name }}
                      </td>

                  </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">{{ _('Last Users') }}</h3>
                </div>
                <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-primary">{{ _('See all') }}</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">{{_('Name')}}</th>
                    <th scope="col">{{_('Pharmacy')}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <th scope="row">
                        Pedro Bastidas
                      </th>
                      <td>
                        La nueva Gracia de Dios
                      </td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>





{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

  <script src="/static/assets/vendor/chart.js/dist/Chart.min.js"></script>
  <script src="/static/assets/vendor/chart.js/dist/Chart.extension.js"></script>

{% endblock javascripts %}
