{% extends 'admin/layouts/base.html' %}
{% block title %} Farcompra {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
    <!-- Users -->
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col">
                <div class="card">
                    <h5 class="card-header text-xl fw-bold text-capitalize" id="user_register">{{_('Edit')}} {{  user.name }} {{ user.last_name }}</h5>
                    <div class="card-body">
                        <!-- form user-->
                        {{ render_form(form, novalidate=True) }}
                        <form method="POST" class="mt-4" id="{{user_id}}">
                            {{ form.csrf_token }}
                            {{ delete_user.user_id }}
                            <button class="btn btn-danger" onclick="confirm({{ user_id }});">{{_('Delete')}}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <!--Sweet alert 2-->
    <script src="{{ url_for('static', filename='admin/assets/js/sweet_alert.js') }}"></script>
{% endblock javascripts %}