<!--
=========================================================
* Argon Dashboard - v1.2.0
=========================================================
* Product Page: https://www.creative-tim.com/product/argon-dashboard


* Copyright  Creative Tim (http://www.creative-tim.com)
* Coded by www.creative-tim.com



=========================================================
* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="canonical" href="https://appseed.us/admin-dashboards/flask-boilerplate-dashboard-argon">
  
  <title>
    Flask Argon Dashboard - {% block title %} Open-Source Admin Panel {% endblock %} | AppSeed
  </title>

  <!-- Favicon - loaded as static -->
  <link rel="icon" href="{{ url_for('static', filename='admin/assets/img/brand/favicon.png') }}" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="{{ url_for('static', filename='admin/assets/vendor/nucleo/css/nucleo.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='admin/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css') }}" type="text/css">
  <!--  css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- Page plugins -->
  <!-- Argon CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='admin/assets/css/argon.css') }}" type="text/css">
  <!--  dropzone  -->
  {{ dropzone.load_css() }}


  <!-- Specific CSS goes HERE -->
  {% block stylesheets %}{% endblock stylesheets %}
  <!--  Bootstrap render form-->
  {% from 'bootstrap5/form.html' import render_form %}
  {% from 'helpers/_formhelpers.html' import generateForm with context %}

</head>

<body class="">
<!--  nav-->
  {% include "admin/includes/sidenav.html" %}

  <div class="main-content d-flex flex-column" id="panel">

    {% include "/admin/includes/navigation.html" %}
    <div class="flex-grow-1">
      {% block content %}{% endblock content %}
    </div>


    {% include "admin/includes/footer.html" %}
  </div>



  {% include "admin/includes/scripts.html" %}

  <!-- Specific JS goes HERE -->
  {% block javascripts %}{% endblock javascripts %}
  <!--  ### DROPZONE  ###-->
  {{ dropzone.load_js() }}
  {{ dropzone.config(custom_init='dz = this;document.getElementById("upload-btn").addEventListener("click", function handler(e) {dz.processQueue();});',
                 custom_options='autoProcessQueue: false, addRemoveLinks: true, parallelUploads: 20,') }}
  <script src="{{ url_for('static', filename='admin/assets/js/argon.js') }}"></script>

</body>

</html>
