{% extends 'user/layouts/base.html' %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
{% endblock stylesheets %}

{% block content %}
    <div class="content bg-white">
        <div class="brand-logo mt-5">
            <img src="{{ url_for('static', filename='img/brand/company_logo.svg') }}" alt="company logo" width="260">
        </div>

        <div class="form mt-4">
            <form id="filter_form">
                <input class="form-control badge-pill text-md font-weight-bold"
                       id="search" autofocus type="text" placeholder="Type Product Name or Barcode" autocomplete="off"
                       name="q"
                >
            </form>
        </div>
        <!-- Search results -->
        <div class="list_results">
            <ul id="results">

            </ul>
        </div>
    </div>






{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="static/js/script.js"></script>
{% endblock javascripts %}