{% extends 'user/layouts/base.html' %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
{% endblock stylesheets %}

{% block content %}

    <div class="content bg-white">
        <div class="brand-logo mt-5">
            <img src="{{ url_for('static', filename='img/brand/company_logo.svg') }}" alt="company logo" id="main-logo">
        </div>

        <div class="form mt-4">
            <form id="filter_form" method="GET" action="/search" >
                <input class="form-control badge-pill text-md font-weight-bold"
                       id="search" autofocus type="search" placeholder="{{_('Type Product Name or Barcode')}}" autocomplete="off"
                       name="query">
            </form>
        </div>
        <!-- suggest list -->
        <div class="container suggest-list" id="suggest-list">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group ul-product-su" id="results">
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

  <script src="static/js/script.js"></script>
{% endblock javascripts %}