{% extends 'user/layouts/base.html' %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
{% endblock stylesheets %}

{% block content %}

    <div class="content bg-white">
        <div class="brand-logo mt-5">
            <img src="{{ url_for('static', filename='img/brand/company_logo.svg') }}" alt="company logo" width="260">
        </div>

        <div class="form mt-4">
            <form id="filter_form" action="/search">
                <input class="form-control badge-pill text-md font-weight-bold"
                       id="search" autofocus type="search" placeholder="Type Product Name or Barcode" autocomplete="off"
                       >
            </form>
        </div>
        <!-- suggest list -->
        <div class="container suggest-list" id="suggest-list" style="display:none">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group ul-product" id="results">
                    </ul>
                </div>
            </div>
        </div>
        <!-- Product list -->
        <div class="container mt-4 mb-6" id="search_container">
            <div class="row">
                <div class="col">
                    <ul class="list-group ul-product" id="resultssss">
                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}

  <script src="static/js/script.js"></script>
{% endblock javascripts %}