<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    {{ bootstrap.load_css() }}
</head>
<body class="p-5">
{{ order }}
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="d-flex gap-4 card-header justify-content-between align-items-center">
            <h2 class="text-capitalize">{{ user.pharmacy.name }}</h2>
            <h5 class="text-capitalize">{{ _('Supplier Name') }}</h5>
          </div>
          <div class="card-body">
            <div class="table">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Barcode</th>
                    <th>Cod</th>
                    <th>Name</th>
                    <th>Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>134332</td>
                    <td>001</td>
                    <td>Acetaminofen</td>
                    <td>12</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{{ bootstrap.load_js() }}
</html>