{% extends 'user/layouts/base.html' %}
{% block title %} Farcompra {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
    <!-- Users -->
    <div class="container-fluid mt-4">
        <div class="row">
            <div class="col">
                <div class="card">
                    <h5 class="card-header text-xl fw-bold text-capitalize" id="user_register">
                        <div class="d-flex justify-content-between">
                            <div>
                                <img src="{{ url_for('static', filename='img/icons/history-svgrepo-com.svg') }}"
                                     alt="shopping-cart" width="30" class="mr-2">
                                {{_('Order History')}}
                            </div>
                            <div class="">
                                <a href="{{url_for('cart.view_cart')}}">
                                    <img src="{{ url_for('static', filename='img/icons/cart-shopping-solid.svg') }}"
                                     alt="shopping-cart" width="30" class="mr-2">
                                </a>
                            </div>
                        </div>
                    </h5>

                    <div class="card-body">
                        <!-- Shopping cart info -->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col" id="main-col">
                                    {% if order_history %}
                                        {% for supplier in order_history %}
                                        <div class="card" supplier="{{supplier}}">
                                            <div class="card-header text-capitalize d-flex justify-content-between">
                                                <h2>{{supplier | replace('_', ' ')}}</h2>
                                                <h2>{{ order_history[supplier]['date'].strftime('%d-%m-%Y') }}</h2>
                                            </div>
                                            <div class="card-body">
                                                <div class="table-responsive mt-2">
                                                    <table class="table table-striped" id="table-prices">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th scope="col" class="text-sm w-50">{{_('Item')}}</th>
                                                                <th scope="col" class="text-sm">{{_('Quantity')}}</th>
                                                                <th scope="col" class="text-sm">{{_('Price')}}</th>
                                                                <th scope="col" class="text-sm">{{_('Total')}}</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for product in order_history[supplier]['products'] %}
                                                                <tr>
                                                                    <td scope="row" class="text-capitalize">
                                                                        {{ product }}
                                                                    </td>
                                                                    <td scope="row" class="text-capitalize">
                                                                        {{ order_history[supplier]['products'][product]['quantity'] }}
                                                                    </td>
                                                                    <td scope="row" class="text-capitalize" id="price">
                                                                        ${{ order_history[supplier]['products'][product]['price'] }}
                                                                    </td>
                                                                    <td scope="row" class="text-capitalize">
                                                                        ${{ order_history[supplier]['products'][product]['total']|round(2) }}
                                                                    </td>
                                                                </tr>
                                                            {% endfor %}
                                                                <tr class="rounded">
                                                                    <th colspan="3" scope="col"
                                                                        class="text-sm text-right bg-light rounded-left">
                                                                        {{_('Total')}}
                                                                    </th>
                                                                    <td scope="row" class="rounded-right text-sm font-weight-bold bg-success text-white" id="grand-total-{{ supplier }}">
                                                                        ${{ order_history[supplier]['total']|round(2) }}
                                                                    </td>
                                                                </tr>
                                                        </tbody>
                                                    </table>
                                                    <form role="form" method="POST" novalidate
                                                          id="form-{{supplier}}"
                                                          action="{{ url_for('cart.checkout_history') }}">
                                                        {% set order = 'Generate PDF Order for ' + supplier | replace('_', ' ') %}
                                                        {{ form.csrf_token }}
                                                        {{ form.supplier(class='d-none',
                                                            value=order_history[supplier]["id"]) }}
                                                        <button class="mt-2 btn btn-danger text-capitalize" onclick="checkout_supplier('{{supplier}}')">
                                                            {{ _('Generate PDF Order for: ') }} {{ supplier | replace('_', ' ') }}
                                                        </button>


                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    {% else %}
                                        <p class="text-center text-md mt-2 font-weight-bold">{{ _('there is nothing at all here.') }}</p>
                                        <p class="text-center text-xl font-weight-bold">¯\_(ツ) _/¯ </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock content %}
<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="{{ url_for('static', filename='js/cart.js') }}"></script>
{% endblock javascripts %}