{% extends 'user/layouts/base.html' %}
{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main_style.css') }}">
{% endblock stylesheets %}

{% block content %}
    <div class="content bg-white">
        {% if results.pages > 0 %}
            <!-- Product list -->
            <div class="container-fluid mt-2 mb-3" id="search_container">
                <div class="row">
                    <div class="col">
                        <ul class="list-group ul-product" id="results">
                            {% for product in results %}
                                <li class="list-group-item cursor-pointer li-product" onclick="show_product_info(this)"
                                    onload=""
                                    >
                                    {{ product.name }}

                                    <div class="table-responsive mt-2" id="prices"
                                         style="display:
                                         {{ 'none' if request.args.get('barcode') != product.barcode else 'block'  }}">
                                        <table class="table table-striped" id="table-prices">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col" class="text-sm">{{ _('Supplier ')}}</th>
                                                    <th scope="col" class="text-sm">{{ _('Price')}}</th>
                                                    <th scope="col" class="text-sm">{{ _('Due Date')}}</th>
                                                    <th scope="col" class="text-sm">{{ _('Stock')}}</th>
                                                    <th scope="col" class="text-sm">{{ _('Action')}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for price in product.prices %}
                                                    <tr>
                                                       <td scope="row" class="text-sm text-capitalize">
                                                           {{ price.supplier_info.name | replace('_', ' ') }}
                                                       </td>
                                                        <td scope="row" class="text-sm text-capitalize">${{ price.price }}</td>
                                                        <td scope="row" class="text-sm text-capitalize">{{ price.due_date }}</td>
                                                        <td scope="row" class="text-sm text-capitalize">{{ price.stock }}</td>
                                                        <td>
                                                            <!-- Shopping Cart Form -->
                                                            <form id="shopping_cart" onsubmit="get_products(
                                                                form=this,
                                                                product_id={{price.id }},
                                                                supplier_id={{price.supplier_id}},
                                                                stock={{price.stock}},
                                                                sp_name='{{price.supplier_info.name}}',
                                                                product_name='{{price.product_info.name}}')">
                                                                <div class="d-flex align-items-center">
                                                                    {{ form.csrf_token }}
                                                                    {{ form.quantity(class='form-control mr-4',
                                                                    id='quantity',) }}
                                                                    {{ form.submit(class='btn btn-primary') }}
                                                                </div>
                                                                 <p id="quantity_error" class="text-sm text-danger mt-1" style="display:none">
                                                                     {{_('Sorry quantity must be greater than zero or minor than')}}
                                                                     {{price.stock}}
                                                                 </p>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                    </table>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}
            <h2>Sorry not results for {{ search_query }}</h2>
        {% endif %}
        <!-- pagination-->
            {% if results.pages > 1 %}
                <nav aria-label="Page navigation">
                      <ul class="pagination">
                        {%  for page in results.iter_pages() %}
                          {% if page %}
                            {% if page != results.page %}
                              <li class="page-item">
                                  {% if page != 1 %}
                                    <a class="page-link"
                                         href="{{ url_for('search', barcode=suggest,
                                         product_name=request.args.get('product_name'), query=suggest, page=page) }}">
                                      {{ page }}
                                    </a>
                                  {% else  %}
                                        <a class="page-link"
                                         href="{{ url_for('search', barcode=suggest,
                                         product_name=request.args.get('product_name'), query=suggest, page=page) }}">
                                      {{ page }}
                                    </a>
                                  {% endif %}

                              </li>
                            {% else %}
                            <li class="page-item active"><span class="page-link">{{ page }}</span></li>
                            {% endif %}
                          {% else %}
                             <span class=ellipsis>…</span>
                          {% endif %}
                        {% endfor %}
                      </ul>
                </nav>
            {% endif %}
        <!-- Suggested results -->
        {% if results.pages < 2 %}
            {% if suggested_results %}
                <div class="container-fluid mt-2 mb-3" id="search_container">
                    <div class="row">
                        <div class="col">
                            <ul class="list-group ul-product" id="results">
                                {% for product in suggested_results %}
                                    {% if product.barcode != request.args.get('barcode') %}
                                        <li class="list-group-item cursor-pointer li-product" onclick="show_product_info(this)">
                                            {{ product.name }}
                                            <div class="table-responsive mt-2" id="prices"
                                                 style="display:
                                                 {{ 'none' if request.args.get('barcode') != product.barcode else 'block'  }}">
                                                <table class="table table-striped" id="table-prices">
                                                    <thead class="thead-light">
                                                        <tr>
                                                            <th scope="col" class="text-sm">{{ _('Supplier ')}}</th>
                                                            <th scope="col" class="text-sm">{{ _('Price')}}</th>
                                                            <th scope="col" class="text-sm">{{ _('Due Date')}}</th>
                                                            <th scope="col" class="text-sm">{{ _('Stock')}}</th>
                                                            <th scope="col" class="text-sm">{{ _('Action')}}</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for price in product.prices %}
                                                            <tr>
                                                               <td scope="row" class="text-sm text-capitalize">
                                                                   {{ price.supplier_info.name | replace('_', ' ') }}
                                                               </td>
                                                                <td scope="row" class="text-sm text-capitalize">${{ price.price }}</td>
                                                                <td scope="row" class="text-sm text-capitalize">{{ price.due_date }}</td>
                                                                <td scope="row" class="text-sm text-capitalize">{{ price.stock }}</td>
                                                                <td>
                                                                    <!-- Shopping Cart Form -->
                                                                    <form class="">
                                                                        <div class="d-flex align-items-center">
                                                                            {{ form.csrf_token }}
                                                                            {{ form.quantity(class='form-control mr-4',
                                                                            id='quantity') }}
                                                                            {{ form.submit(class='btn btn-primary') }}
                                                                        </div>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                            </table>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            {% endif %}
        {% if suggested_results %}
            <!-- pagination-->
                    <nav aria-label="Page navigation">
                          <ul class="pagination">
                            {%  for page in suggested_results.iter_pages() %}
                              {% if page %}
                                {% if page != suggested_results.page %}
                                  <li class="page-item">
                                      {% if page != 1 %}
                                        <a class="page-link"
                                             href="{{ url_for('search', barcode=suggest,
                                             product_name=request.args.get('product_name'), query=suggest, page=page) }}">
                                          {{ page }}
                                        </a>
                                      {% else  %}
                                            <a class="page-link"
                                             href="{{ url_for('search', barcode=suggest,
                                             product_name=request.args.get('product_name'), query=suggest, page=page) }}">
                                          {{ page }}
                                        </a>
                                      {% endif %}

                                  </li>
                                {% else %}
                                <li class="page-item active"><span class="page-link">{{ page }}</span></li>
                                {% endif %}
                              {% else %}
                                 <span class=ellipsis>…</span>
                              {% endif %}
                            {% endfor %}
                          </ul>
                    </nav>
        {% endif %}
        {% endif %}
    </div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script src="static/js/search.js"></script>
{% endblock javascripts %}